[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	# this actually opens in Notepad2
	editor = notepad.exe

[alias]
	amend = commit --amend --no-edit
	# Deletes all branches merged into the specified branch (or the default branch if no branch is specified)
	bclean = "!f() { DEFAULT=$(git default); git branch --merged ${1-$DEFAULT} | grep -v " ${1-$DEFAULT}$" | xargs git branch -d; }; f"
	# Switches to specified branch (or the dafult branch if no branch is specified), runs git up, then runs bclean.
	bdone = "!f() { DEFAULT=$(git default); git checkout ${1-$DEFAULT} && git up && git bclean ${1-$DEFAULT}; }; f"
	default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
	fix-head = remote set-head origin --auto
	set-origin = remote set-url origin
	set-upstream = remote set-url upstream
	shove = push origin --force
	tug = "!f() { DEFAULT=$(git default); git pull upstream ${1-$DEFAULT}; }; f"
	undo = reset HEAD~1
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive

[diff]
	tool = bc4
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = \"c:/program files/beyond compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = bc4
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "bc4"]
	cmd = \"c:/program files/beyond compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

[rebase]
	# turns on the fixup! and squash! message prefixes
	autoSquash = true

[protocol]
	version = 2

[credential]
	helper = manager

[include]
	path = overrides.gitconfig
